{% extends "base/dashboard_base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="row">
	<div class="col s12 m12 l12">
		<div class="card-panel">
			<h4 class="header2">Single File Upload</h4>
			<div class="row">
				<form action="/singlefile" method="post" enctype=multipart/form-data>
					<div class="file-field input-field">
						<div class="btn">
							<span>Upload File</span>
							<input type="file" name="file">
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div>
					</div>
					<div class="row">
						<div class="col s12 m12 l12">
		                  	<div class="input-field col s12">
		                		<select name='model'>
			                      <option value="" disabled selected>Choose your option</option>
			                      <option value="ExtraTrees">Rank 1 - Extra Tree</option>
			                      <option value="RandomForest">Rank 2 - RandomForest</option>
			                      <option value="KNeighbors">Rank 3 - KNeighbors</option>
		                		</select>
		                  	</div>
	                	</div>
                	</div>
					<div class="row">
						<div class="input-field col s12">
							<button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
								<i class="mdi-content-send right"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% if data.isResults %}
<div class="section">
	<div class="row">
		
		<div class="col s12 m12 l12">
			<div class="card-panel">
				<h4 class="header2">Results</h4>
				<div class="container">
					<div class="row">
						<div id="table-datatables">
							<h4 class="header">Data Tables</h4>
							<div class="row">
								<button id="dl" class="btn btn-primary">Download</button>
								<div class="col s12 m8 l12">
									<table id="simplesree" class="bordered" cellspacing="0">
										<thead>
											<tr>
												<th>Latitude</th>
												<th>Logitude</th>
											</tr>
										</thead>

										<tfoot>
											<tr>
												<th>Latitude</th>
												<th>Logitude</th>
											</tr>
										</tfoot>

										<tbody>
											{% for coord data.results.latlot %}
											<tr>
												<td>{{ coord[0] }}</td>
												<td>{{ coord[1] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<table id="data-table-simple2" class="hide" cellspacing="0">
										<thead>
											<tr>
												<th>Latitude</th>
												<th>Logitude</th>
											</tr>
										</thead>

										<tfoot>
											<tr>
												<th>Latitude</th>
												<th>Logitude</th>
											</tr>
										</tfoot>

										<tbody>
											{% for coord in data.results %}
											<tr>
												<td>{{ coord[0] }}</td>
												<td>{{ coord[1] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}