{% extends "base/dashboard_base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<div class="row">
	<div class="col s12 m12 l12">
		<div class="card-panel">
			<h4 class="header2">Single Upload</h4>
			<div class="row">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<input id="name" name="inputdata" type="text">
							<label for="first_name">Input Data</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
								<i class="mdi-content-send right"></i>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}